---
layout: default
---

<article class="page">

  <h4>>Bonjour 👋</h4>
  Je suis Robin, étudiant ingénieur en Automatique, Informatique et Électronique à l’INSA de Toulouse. Passionné par beaucoup de choses, vous trouvez ici mes projets personnels dans lesquels j’expérimente ce que j’apprends au quotidien.
  <div style="height: 42px;"></div>
  <a href="archive" class="btn-outline">Découvrir</a>

  <style>
    .btn-outline {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      border: 2px solid white;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
    }

    .btn-outline:hover {
      background-color: white;
      color: black;
    }
  </style>
  <div style="height: 42px;"></div>

  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>
